---
layout: 2-columns
asides: [categories.html, tags.html]
title: Tags
permalink: /blog/tags/
---
<div class="posts">
    <div class="post">
        <h1>Tags</h1>

        {% assign sorted_tags = site.tags | sort %}
        {% assign tags_arg = sorted_tags %}

        {% for tag_data in sorted_tags %}
    		{% assign tag = tag_data | first %}
            <h3 id="{{ tag | slugify }}">{{ tag }}</h3>
            <ul class="tag-post-list">
                {% for post in tag_data[1] %}
                	<li><a href="{{ post.url }}">{{ post.title }}</a> <small class="text-muted">{{ post.date | date_to_string }}</small></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>
