<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">profound7</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% assign page_parts = page.url | split:'/' %}
                {% assign page_part1 = page_parts[1] %}
                {% for link in layout.nav %}
                    {% assign current = nil %}
                    {% assign link_parts = link.url | split:'/' %}
                    {% if page.url == link.url or page_part1 == link_parts[1] %}
                        {% assign current = 'active' %}
                    {% endif %}
                    <li class="{{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
                {% endfor %}
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                        data-toggle="dropdown" role="button"
                        aria-haspopup="true"
                        aria-expanded="false">Projects <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for link in layout.projects %}
                            {% if link.github %}
                                <li>
                                    <a href="https://github.com/{{ site.author.github }}/{{ link.github }}">
                                        {% if link.text %}{{ link.text }}{% else %}{{ link.github }}{% endif %}
                                    </a>
                                </li>
                            {% elsif link.url %}
                                <li>
                                    <a href="{{ link.url }}">
                                        {% if link.text %}{{ link.text }}{% else %}{{ link.url }}{% endif %}
                                    </a>
                                </li>
                            {% elsif link.text %}
                                <li class="dropdown-header">{{ link.text }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
