---
layout: default
---
<div id="top" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8">
            {{ content }}
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-lg-offset-1 aside-parent">
            <aside data-spy="affix" data-offset-top="50" data-offset-bottom="200">
                {% assign asides = nil %}
                {% if page.asides %}
                    {% assign asides = page.asides %}
                {% elsif post.asides %}
                    {% assign asides = post.asides %}
                {% elsif layout.asides %}
                    {% assign asides = layout.asides %}
                {% elsif site.asides %}
                    {% assign asides = site.asides %}
                {% endif %}
                
                {% for file in asides %}
                    {% assign section = file | split:"." | first %}
                    <section class="aside-{{ section }}{% if section == "toc" %} hide{% endif %}">
                        {% include asides/{{ file }} %}
                    </section>
                {% endfor %}
                
                <div class="back-to-top"><a href="#top">Back to Top</a></div>
            </aside>
        </div>
    </div>
</div>
