---
nav:
    - { text: Home, url: "/" }
    - { text: About, url: "/about/" }
    - { text: Blog, url: "/blog/" }
      
projects:
    - text: Moon Libraries for Haxe
    - github: moon-core
    - github: moon-run
    - github: moon-peg
    - github: moon-ai
    - text: Design
    - { text: This Site, url: "https://github.com/profound7/profound7.github.io" }
---
<!DOCTYPE html>
<html lang="en">
    
    {% include site/head.html %}
    
    <body>
        {% include site/nav.html %}
        
        {{ content }}
        
        {% include site/foot.html %}
        {% include site/scripts.html %}
    </body>
</html>
